{{- if .Params.comments }}
<div id="comments" class="thin">
	<script src="https://giscus.app/client.js"
        data-repo="jiekun-dev/blog-comment"
        data-repo-id="MDEwOlJlcG9zaXRvcnkzMDQ4NDc0ODg="
        data-category="General"
        data-category-id="DIC_kwDOEiuagM4CU4sp"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="dark_dimmed"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
	</script>
</div>
{{- end }}